.App {
  display: flex;
  width: 100%;
  height: 100vh;

  
  .leftbar-section {
    width: 30vw;
    border-right: 1px solid black;
    background-color: lightgrey;
    .leftbar-header {
      padding: 1.5rem;
    }
    .logout-btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
    
    .physician-container {
      cursor: pointer;
      &.selected {
        background-color: #007bff;
        color: #fff;
      }
      .physician-row {
        padding: 1rem;
      }
      .physician-name {
        margin-left: 20px;
      }
      .physician-icon {
  
      }
    }
    .leftbar-footer {
      padding: 1.5rem;
      text-align: center;
    }
  }

  .details-section {
    flex: 1;
    margin-left: 20px;
    .appointments-section {
      display: flex;
      flex-direction: column;

      .appointment-header {
        text-align: left;
        background-color: #007bff;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #fff;
        border: none !important;
      }
      .appointment-container {
        display: flex;
        border: 1px solid black;
        
        .appointment-time {
          flex-basis: 10vw;
          padding: 1rem;
        }
        .appointment-name {
          padding: 1rem;
          flex-basis: 20vw;
        }
        .appointment-type {
          padding: 1rem;
          flex: 1;
        }
        .appointment-number {
          padding: 1rem;
          flex-basis: 10vw;
        }
      }
    }
  }

  .selected-physician {
    font-size: 50px;
  }

  .title {

  }
}
